
{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Our Resources</h3>
</header><!-- sect-heading -->

<div class="row">
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{% url 'store' %}search/?keyword=farmlands" class="img-wrap rounded"> <img src="{% static 'images/banners/farmlands.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="{% url 'store' %}search/?keyword=farmlands" class="title b"><h4>Find Farms Online</h4></a>
				<div class="title"> Rent or Lease </div> 
				<div class="price mt-2"> Krishna District </div> 
				<div class="price mt-2">Andhra Pradesh</div> 
			</figcaption>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{% url 'store' %}search/?keyword=fertilizers" class="img-wrap rounded"> <img src="{% static 'images/banners/fertilizer.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="{% url 'store' %}search/?keyword=fertilizers" class="title b"><h4>Order Fertilizers Online</h4></a>
				<div class="title"> Varients available </div> 
				<div class="price mt-2"> Different Sizes and Brands </div> 
			</figcaption>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{% url 'store' %}search/?keyword=seeds" class="img-wrap rounded"> <img src="{% static 'images/banners/seeds.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="{% url 'store' %}search/?keyword=seeds" class="title b"><h4>Order Seeds Online</h4></a>
				<div class="title"> Imported and Local </div> 
				<div class="price mt-2"> Varients available </div> 
			</figcaption>
		</div>
	</div> 
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{% url 'store' %}" class="img-wrap rounded"> <img src="{% static 'images/banners/farm_equipment.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="{% url 'store' %}" class="title b"><h4>Rental Farming Equipment</h4></a>
				<div class="title"> place holder </div> 
				<div class="price mt-2"> Hourly rent available </div> 
			</figcaption>
		</div>
	</div> 


<!--
<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
				<div class="price mt-1">{{ product.category }} </div> 
				<div class="price mt-1">Brand : {{ product.available_brands }} </div> 
				<div class="price mt-1">Rs. {{ product.price_per_kg }} /Kg</div> 
			</figcaption>
		</div>
	</div> 
	{% endfor %}
</div>
-->	
</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>

{% endblock %}